body {
	margin: 0;
	padding: 0;
	text-align: center;
	
	font-family: Calibri, sans-serif;
}

div#loadingMessage {
	width: 100%;
	height: 100%;
}

div#loadingMessage p {
	margin: 5px;
	height: 100%;
}

div#page, h1 {
	/* shown at runtime */
	display: none;
	
	/* width is boosted at runtime */
	/* start with canvas's margin-left + div#playerInfo's width/padding */
	width: 350px;
	margin: 0 auto;
	
	border-left: 2px solid #999999;
	border-right: 2px solid #999999;
}

div#page {
	text-align: left;
}

h1 {
	height: 32px;
	
	font-size: 24px;
	font-weight: bold;
	
	border-bottom: 1px solid #000000;
}

h2 {
	width: 100%;
	height: 59px;
	margin: 0;
	padding: 10px 0;
	
	text-align: center;
	font-size: 48px;
}

div#main {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

div#fps {
	position: absolute;
	margin-left: 104px;
}

canvas {
	display: block;
	float: left;
	margin-left: 100px;
	
	/* width and height are added at runtime */
	width: 0;
	height: 0;
	
	background-color: #FFCCFF;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

div#playerInfo {
	float: left;
	width: 228px;
	padding-left: 20px;
	
	/* height added at runtime */
	height: 0px;
	overflow-y: auto;
}

ul#instructions {
	margin: 0;
	padding: 50px 100px;
	
	list-style: none;
}

dt {
	display: inline-block;
	width: 50px;
	
	text-align: right;
}

dd {
	display: inline-block;
	width: 150px;
	margin-left: 0;
	
	font-weight: bold;
}

div.clear {
	clear: both;
}