body {
	margin: 0;
	padding: 0;
	text-align: center;
	
	font-family: Calibri, sans-serif;
}

div#page, h1 {
	width: 1127px;
	margin: 0 auto;
	
	border-left: 2px solid #999999;
	border-right: 2px solid #999999;
	
}

div#page {
	text-align: left;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	
	border-bottom: 1px solid #000000;
}

h2 {
	width: 1127px;
	margin: 0;
	padding: 40px 0;
	
	text-align: center;
	font-size: 48px;
}

div#main {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

canvas {
	display: block;
	float: left;
	
	width: 800px;
	height: 800px;
	margin-left: 100px;
	
	background-color: #FFCCFF;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

div#playerInfo {
	float: left;
	width: 205px;
	padding-left: 20px;
}

ul#instructions {
	margin: 0;
	padding: 50px 100px;
	
	list-style: none;
}

dt {
	display: inline-block;
	width: 50px;
	
	text-align: right;
}

dd {
	display: inline-block;
	width: 150px;
	
	margin-left: 0;
}

div.clear {
	clear: both;
}